@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
  }
  
  body {
    background: linear-gradient(0deg, #141414, #141414),
      radial-gradient(
        74.37% 74.37% at 50% 3.13%,
        rgba(118, 118, 118, 0.2) 0%,
        rgba(0, 0, 0, 0) 100%
      );
  }
  
  @layer utilities {
    .custom_scrollbar::-webkit-scrollbar {
      @apply bg-transparent w-[10px];
    }
    .custom_scrollbar::-webkit-scrollbar-track {
      @apply bg-transparent rounded-[10px];
    }
    .custom_scrollbar::-webkit-scrollbar-thumb {
      @apply bg-gradient-to-t from-[#82ce52] to-[#141414];
    }
  }
  
  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background: url("/calender.svg") no-repeat center;
    width: 20px;
    height: 20px;
  }